{{>header}}

<body>
  <div class="container my-5">
    <form action="/edit" method="post">
      <div class="card p-4">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Contact</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.profile.about.contact.phone}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Date Of Birth</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword" name="dob" placeholder="dd/mm/yyyy">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inlineFormCustomSelect">Gender</label>
          <div class="col-sm-6">
            <select class="custom-select form-control" id="inlineFormCustomSelect" name="gender">
              <option selected>Choose Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inlineFormCustomSelect">B.E Branch</label>
          <div class="col-sm-6">
            <select class="custom-select form-control" id="inlineFormCustomSelect" name="branch">
              <option selected>Choose Branch</option>
              <option value="Computer Science and Engineering">Computer Science and Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Electronics and Communication Engineering">Electronics and Communication Engineering</option>
              <option value="Electronics and Electrical Engineering">Electronics and Electrical Engineering</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">B.E Score</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword" placeholder="Percentage" name="score">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Class XII Score</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword" placeholder="XII Percentage" name="xiiscore">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Class X Score</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword" placeholder="X Percentage" name="xscore">
          </div>
        </div>
        <div class="form-group row m-4">
          <div class="col-sm-8">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
