{{> headerpublic}}

<div class="container">

    <p class="display-4 text-center my-5">Contact US</p>

    <p class="text-center" style="font-size: 20px;">Meeth161@gmail.com</p>
    <p class="text-center" style="font-size: 20px;">soumyasree157@gmail.com</p>
    <p class="text-center" style="font-size: 20px;">akhilraj1043@gmail.com</P>

</div>
