<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>TnP</title>

  <style media="screen">
  body {
    background-color: #eee;
  }
  </style>
</head>
<body>
  {{> header}}

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card text-center my-5 p-3" style="width: 18rem;">
          <div class="card-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi8Dz5frehlEts1m2kg1b6t70JeZsTU5Jdp_OJfmemnS7RaylByA" alt="" class="rounded-circle border border-light" height="120px" width="120px">
            <p><h5 class="card-title">{{profile.about.name}}</h5></p>
            <table class="table table-sm">
              <thead>
                <th>Applications</th>
                <th>Offers</th>
              </thead>
              <tbody>
                <tr>
                  <td>2</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
            <a href="/profile" class="btn btn-primary">Go to Profile</a>
          </div>
        </div>
      </div>

      <div class="col-8">
        {{#each posts}}
          <div class="card mt-5 px-3">
            <h4 class="display-4">{{title}}</h4>
            {{username}}
            <p>{{content}}</p>
          </div>
        {{/each}}
      </div>

    </div>
  </div>

</body>
</html>
